@model DepartmanProjesi.Models.Departmanlar

@{
    ViewData["Title"] = "YeniDepEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form class="form-group" method="post" style="margin:10px">
     <b>Departman Adı</b>                    @* @Html.LabelFor(x=>x.DepAd) bu labela departman ad sutununda ne yazıyorsa o gelicek(DepAd)*@
    @Html.TextBoxFor(x=>x.DepAd, new{@class="form-control", @style="margin-bottom:10px"}) @*buraya girilen değerleri departman ad ile eşleştirir *@
    <button class="btn btn-info">Departman Ekle</button>
</form>

